{% extends "base.html" %}

{% block content %}
{% if just_registered %}
	<h2>Congratulations! You've registered. Please login to post.</h2>
{% endif %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div id="login">
<form method="post" action="/login/">{% csrf_token %}
<p><label for = "username"><h3>Username: </h3><input type = "text" name = "username" class = "title"></p>
<p><label for = "password"><h3>Password: </h3><input type = "password" name = "password" class = "title"></p>
<input type="submit" value="Login" class = "large green awesome"/>
</form>
</div>
<div id="right">
    
</div>
{% endblock %}
