.primary-1 { background-color: rgba(55, 48, 42, 1) }
.primary-2 { background-color: rgba(36, 33, 30, 1) }
.primary-3 { background-color: rgba(29, 17, 7, 1) }
.primary-4 { background-color: rgba(179, 163, 149, 1) }
.primary-5 { background-color: rgba(179, 168, 160, 1) }

/*Reset*/
*{
    margin:0px;
}

/* Global stuff */
body {
    font-family: "Helvetica", sans-serif;
    background-color: #24211E;
    width: 90%;
    margin: auto;
    color: rgba(179, 163, 149, 1);;
}

a {
    color: rgba(179, 163, 149, 1);
    text-decoration: underline;
    font-weight: bold;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover {
    color: rgba(55, 48, 42, 1);
}


.container {
	margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color:;
    text-align: center;

}

#header {
    width: 100%;
    text-align: center;
    /*background-color: #B3A395;*/
    font-family: "Amaranth";
    font-size: 300%;
    
    margin-bottom: 15px;
    padding: 10px;
    color: rgb(55,48,42);
    margin-left: auto;
    margin-right: auto;
}

#header a {
    text-decoration: none;
    color: inherit;
    margin: 0px;
}

#nav {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 15px;
}

/*Posts*/
.post {
    margin: auto;
    width: 50%;
    border-bottom: dashed 1px rgba(173, 163, 149, 0.1);
    color: rgba(179, 163, 149, 1);
    text-align: left;
}

.post a {
    /*color: inherit;*/
    text-decoration: none;
}

#posted_on {
    float: right;
    font-size: .5em;
}

#add_form{
    width: 50%;
    margin: auto;
    text-align: center;
}

#login {
    margin: auto;
    text-align: center;
    color: rgba(179, 163, 149, 1);
}

#user_form {
    margin: auto;
    text-align: center;
}

/*Inset text*/

h1.insetType {
  /*padding-left: 50px; /* The padding is just there to move the h1 element to the center of the div */*/
  /*padding-top: 17px;*/
  font-family: "Amaranth", Georgia, "Times New Roman", Times, serif;
  text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.5) 0 -1px, rgba(255,255,255,0.3) 0 1px, rgba(0,0,0,0.5) -1px -2px;
}

.pagination {
   margin-top: 10px; 
}