.primary-1 { background-color: #1240AB }
.primary-2 { background-color: #2A4480 }
.primary-3 { background-color: #06266F }
.primary-4 { background-color: #4671D5 }
.primary-5 { background-color: #6C8CD5 }

.container {
/*     border: white solid 5px;*/
     float: left;
     width: 100%;
     margin-left: 190px;
}

#logo {
    
    width: 400px;
    font-size: 80px;
    font-family: 'Crushed';
}

#intro {
    color: #000;
    text-shadow: 4px 4px 4px #aaa;
}

/*#new_post {
    font-style: italic;
    float: left;
}*/

#footer {
    text-align: center;
    margin: 0px;
    color: blue;
    width: 100%;
    background-color: #DDD;
    bottom: 0;
    left: 0;
    position: fixed;
}

body {
    font-family: 'Philosopher';
    background: url('images/lyriclove.png') fixed no-repeat rgba(0,0,0,1);  
    color: #fff;
    width: 1000px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
}

h1 a{
    text-shadow: 4px 4px 4px #ccc;
    color: black;
}

.posts {
    width: 50%;
    text-align: center;
    float:left;
    border-radius: 20px;
    -moz-border-radius: 20px;
    margin-left: 10p;
}


#submit_form {
    padding: 5px;
    width: 25%;
    float: left;
    /*background: #333;*/
    text-align: right;
}

#quote {
    height: 5em;
}

.tags {
    color: #ccc;
    font-size: 75%;
    font-style: italic;
}

.lyric_author {
    font-weight: bold;
    font-style: italic;
}

#tag_list {
    float: left;
    width: 25%;
    background: rgba(000,000,000,.05); 
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 5px;
    -moz-border-radius: 20px;
}

#tag_list a {
    color: #fff;
    margin: 0px 5px 0px 5px;
}

#tag_list a:hover {
    text-decoration: underline;
}

#links a {
    padding: 5px;
}

.ads {
    padding-top: 30px;
}

.post {
    /*border: solid 3px #06266F;*/
    color: #fff;
    font-weight: bold;
    padding: 1px;
    background: rgba(255,255,255,.25);
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

#post h2 {
    font-size: 1.75em;
    opacity: 1;
}

.button {
    /*-moz-box-shadow: 5px 5px black;
        -webkit-box-shadow: 5px 5px black;
        box-shadow: 5px 5px black;*/
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background: #333;
    padding: 5px;
}


.button a {
    color: white;
}

.button a:visited {
    color: red;
}
.update {
    color: red; 
}

