{% extends 'base.html' %}
{% block content %}
<div id = 'add_form'>
<form action = "." method = 'POST'>
	{% csrf_token %} 
    <p>Text: {{ form.text }}</p>
    <p>Author: {{ form.author }}</p>
    <p>Tags: {{ form.tag_list }}</p>
    <p>Posted by: <input type = text value = {{ user.username }} name = 'posted_by'></p>
    <input type = submit value='Submit'>
</form>
</div>
{% endblock %}
