{% extends "base.html" %}
{% block content %}
<div id="user_form">
	<form action="." method="post" accept-charset="utf-8">{% csrf_token %}
		<p><h3>Username</h3><br /> <input type="text" name="username" class = 'title' id="username"></p>
		<p><h3>Password</h3><br /> <input type="password" name="password1" class = 'title' id="password1"></p>
		<p><h3>Confirm Password</h3><br /> <input type="password" name="password2" class = 'title' id="password2"></p>
		<p><h3>Email</h3><br /><input type = 'text' name = 'email' class = 'title'></p>
		<p><input type = "submit" class = "large green awesome" type="submit" value="Register" /></p>
    </form>
</div>	
{% endblock %}
