<link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Amaranth:700' rel='stylesheet' type='text/css'>
{% block extrascript %}{% endblock extrascript %}
{% block extrastyle %}{% endblock extrastyle %}
<script type="text/javascript" src = '/static/jquery-1.6.3.min.js'></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.opener').click(function() {
            $(this).siblings('.hidden').toggle();
            return false;
        });
        $('.hidden').hide();
    });
</script>
<div id = 'header'>
        {{STATIC_ROOT}}
            <h1 class = 'insetType'><a href = '/'>Lyrics</a></h1>
</div>
<div id = 'nav'>
    {% if user.is_authenticated %}
            <a href = '{% url django.contrib.auth.views.logout %}'>Logout</a> |
            <a href = '{% url add_lyric %}'>Add</a> |
            <a href = '{% url update_user %}'>Change password/email</a>
        {% else %}
            <a href = '{% url django.contrib.auth.views.login %}'>Login</a> | 
            <a href = '{% url register %}'>Register to Post</a>
        {% endif %}
</div>
<div class = 'container '>
    <div id = 'main_content'>
        {% block content %}
        {% endblock content %}
    </div>
</div>
