<link rel="stylesheet" href="/static/css/styles2.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Amaranth:700' rel='stylesheet' type='text/css'>
{% block extrascript %}{% endblock extrascript %}
{% block extrastyle %}{% endblock extrastyle %}
<script type="text/javascript" src = '/static/jquery-1.6.3.min.js'></script>
<script type="text/javascript">
    var colors = ['red', 'blue', 'green']
    $(document).ready(function() {
        $('.opener').click(function() {
            $(this).siblings('.hidden').toggle();
            return false;
        });
        $('.hidden').hide();
        $(".lyric_text").each(function(){
            // $(this).css('color', colors[Math.floor(Math.random()*3)])
            $(this).css('font-size', Math.floor(20 + (Math.random()*40)))
        })
        // $(".post").each(function(){
        //     var rotation = Math.floor(Math.random()*90)
        //     $(this).css('color', colors[Math.floor(Math.random()*3)])
        //     $(this).css('-moz-transform', 'rotate(90deg)')
        // })
        // new_x = previous_position[x-value]/4 + some number then rotate(90deg)
    });
</script>
<div id = 'header'>
        {{STATIC_ROOT}}
            <!-- <h1 class = 'insetType'><a href = '/'>Lyrics</a></h1> -->
</div>

<div class = 'container '>
    <div id = 'main_content'>
        {% block content %}
        {% endblock content %}
    </div>
</div>
<div id = 'nav'>
    {% if user.is_authenticated %}
            <a href = '{% url django.contrib.auth.views.logout %}'>Logout</a> |
            <a href = '{% url add_lyric %}'>Add</a> |
            <a href = '{% url update_user %}'>Change password/email</a>
        {% else %}
            <a href = '{% url django.contrib.auth.views.login %}'>Login</a> | 
            <a href = '{% url register %}'>Register to Post</a>
        {% endif %}
</div>
