{% extends "base.html" %}
{% block content %}
{% if lyric_list %}
    {% for lyric in lyric_list %}
            <div class = 'post'>
            <h3 id = 'lyric_text'>{{lyric.text|linebreaks}}</h3>
            <p>Author: <a href = "{% url author_search lyric.author %}">{{ lyric.author }}</a></p>
            <p>Posted by: <a href = '{% url poster_search lyric.posted_by %}'>{{ lyric.posted_by }}</a></p>
            <p>Posted on: {{ lyric.date_posted }}</p>
            <p>Tags: 
            {% for tag in lyric.tag_list.all %}
                <a href = '{% url tag_search tag.name %}'> {{ tag.name }}</a>
            {% endfor %}</p>
            {% if user.is_authenticated %}
                {% if user.username == lyric.posted_by %}
                    <p><a href = '{% url change_lyric lyric.id %}' >Modify</a> | 
                    <a href = '{% url delete_lyric lyric.id %}'> Delete</a></p>
                {% endif %}
            {% endif %}
            </div>
    {% endfor %}
{% endif %}
    
{% endblock %}
