{% extends "base.html" %}
{% block content %}
    {% for lyric in lyric_list.object_list %}
    <div class = 'post'>
    <p id= 'posted_on'>{{lyric.date_posted}}</p><br />
        <h3 id = 'lyric_text' class = 'opener'><a href = \
        "{% url detail_view pk=lyric.id %}">{{lyric.text|linebreaks}}</a></h3>
        <div class = 'hidden'>
            <p><a href = '{% url poster_search lyric.posted_by %}'>
            {{ lyric.posted_by }}</a> posted this lyric by <a href = 
            "{% url author_search lyric.author %}">{{ lyric.author }}</a></p>
            <p>Tags: 
            {% for tag in lyric.tag_list.all %}
                <a href = '{% url tag_search tag.name %}'> {{ tag.name }}</a>
            {% endfor %}</p>
            {% if user.is_authenticated %}
                {% if user.username == lyric.posted_by %}
                    <p><a href = '{% url change_lyric lyric.id %}' >Modify</a> | 
                    <a href = '{% url delete_lyric lyric.id %}'> Delete</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        <span class="current">
            Page {{ lyric_list.number }} of {{ lyric_list.paginator.num_pages }}.
        </span>

        <p>{% if lyric_list.has_previous %}
            <a href="?page={{ lyric_list.previous_page_number }}">previous</a> 
        {% endif %}  {% if lyric_list.has_next %}
            <a href="?page={{ lyric_list.next_page_number }}">next</a>
        {% endif %}</p>
    </span>
    </div>
{% endblock %}
