{% extends 'base.html' %}
{% block content %}
<div class = 'container'> 
	<h1>Congratulations!</h1>
	<h3>Your changes have been saved. Return <a href = "{% url index %}">home</a></h3>
</div>

{% endblock %}