{% extends "base.html" %}

{% block content %}
<div class = 'container'>
<div id = 'login'>
	<form action="." method="post" accept-charset="utf-8">{% csrf_token %}
        <p>New email <input type = 'text' name = 'new_email' class = 'title' id = 'new_email'></input>
		<p>Old Password <input type="password" name="password1" class = 'title' id="password1"></p>
		<p>Confirm Old Password <input type="password" name="password2" class = 'title' id="password2"></p>
		<p>New Password <input type = "password" name = "new_password" class = 'title' id = "new_password">
		<p><input type = "submit" class = "large green awesome" type="submit" value="Submit" /></p>
    </form>
</div>
</div>
{% endblock %}
